# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
venv_old/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db