# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
venv_old/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Database
*.sqlite3
db.sqlite3

# Django
staticfiles/
media/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db